---
---

$body-width: 860px;
$menu-width: 220px;
$medium-size: 16px;
$uw-color: #000;
$mit-color: #cd143c;
$mc-color: #ee7600;
$light-blue:#31849b;

/*---   General  ---*/

html {
  min-width: 1000px;
}

body {
    margin: 30px auto 80px 30px; /*check*/
    width: $body-width;
	position: relative;
	line-height: 1.6;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	
	h1 {
	  padding: 40px 0 5px 0;	
	}
	
	.uw {color: $uw-color;}
	.mit {color: $mit-color;}
	.mc {color: $mc-color;}
	.blue {color: $light-blue;}
}

.category {
	font-weight: bold;
	padding: 2px 0px 0px 0px;
}
  
.caption {
   color: white;
   font-size: 14px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   box-sizing: border-box;
   padding: 8px;
}

.subtitle {
	font-size:11px;
	text-transform: uppercase;
	margin: 0 0 4px 2px;
	font-family: 'Open Sans'
}

.intro {
	width: calc($body-width-$menu-width);
	font-size:16px;
	margin: 0px 0 45px 0; 
}


/*---   Sidebar   ---*/


header .site-title{
	/*font-family: "Open Sans Semibold", sans-serif;*/
    font-size: 35px;
    letter-spacing: 0px;
    line-height: 1;
	margin-bottom: 20px;
}

header nav {
	float: left;
	max-width: $menu-width;
    line-height: 1.8;
	font-size: 12px;
	
	a {
      text-decoration: none;
	  color:#000;
	}
	
	.category a:hover {
		color: #222222;
		text-decoration: none;
		background: #fce234;
	}

	
	ul {
	  margin: 0 0 10px 0;
	  padding: 0;
	  list-style: none;
	  li a {color: #999;}
	}
	
	.menu-portfolio {
	  margin: 5px 0px 0px 15px;
	}
}


/*---   Portfolio Grid   ---*/

.page-content	{
	margin-left: $menu-width;
	
	a {
      text-decoration: none;
      color: #999;
	}
}

.grid {
	width: $body-width;
	display: inline-block;
}

.school-group {
	width: 100%;
	max-height: 400px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
	
	.uw {
	  border-left: 2px solid;
	  border-color: $uw-color;
	}
	
	.mit {
	  border-left: 2px solid;
	  border-color: $mit-color;
	}
	
	.mc {
	  border-left: 2px solid;
	  border-color: $mc-color;
	}
}

.tile {
	position: relative;
	margin: 0 10px 10px 0;
	box-sizing: border-box;
	
	&.tall {
	  width: 310px;
      height: 310px;
	  .caption {width: 310px;}
	}
		
	&.wide {
	  width: 310px;
      height: 150px;
	  .caption {width: 310px;}
	}
		
	&.small {
	  width: 150px;
      height: 150px;
	  .caption {width: 150px;}
	}
	
	.caption {
	  box-sizing: border-box;
	  position: absolute; 
	  bottom: 0px; 
	  left: 0px; 
	} 
}

/*---   Lists & Links   ---*/
.amcharts-chart-div a {
	position:absolute !important;
	text-align: right !important;
	right: 5px !important;
	top: 5px !important;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
      text-decoration: none;
      color: #999;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}