---
layout: default
title: portfolio
---

<div class="container">
	{% assign schools = "University of Waterloo, MIT/Harvard, McMaster University" | split: ", " %}
	{% assign projects = site.projects | sort: "order" %}
	<div style="display: flex;">
		<div><br></div>
		<div style="text-align: right; margin: 8px 0 5px auto; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">
			<b>hover to filter ⌄<br></b> <span style="color:#999;"><span id="RD">R&D</span> | <span id="bio">Biomedical</span>
				| <span id="MATLAB">MATLAB</span> | <span id="python">Python</span> | <span id="C">C++</span> | <span id="LabVIEW">LabVIEW</span></span>
		</div>
	</div>
	<div class="grid tiles">
		{% for project in projects %}
		{% if project.img-tall %}
		<div class="tile square {{ project.categories | join: ' ' }} {% case project.school %}{% when 'University of Waterloo' %}uw"
		 {% when 'MIT/Harvard' %}mit"{% when 'McMaster University' %}mc"{% endcase %}">
			<a href="{{ project.url | prepend: site.baseurl }}">
				<img src="{{ site.baseurl}}/images/{{ project.img-tall }}"></img>
				<span class="caption">{{ project.title | join: ' ' }}</span>
			</a>
		</div>
		{% elsif project.img-wide %}
		<div class="tile wide {{ project.categories | join: ' ' }} {% case project.school %}{% when 'University of Waterloo' %}uw" {%
		 when 'MIT/Harvard' %}mit"{% when 'McMaster University' %}mc"{% endcase %}">
			<a href="{{ project.url | prepend: site.baseurl }}">
				<img src="{{ site.baseurl}}/images/{{ project.img-wide }}"></img>
				<span class="caption">{{ project.title }}</span>
			</a>
		</div>
		{% else %}
		<div class="tile small {{ project.categories | join: ' ' }} {% case project.school %}{% when 'University of Waterloo' %}uw"
		 {% when 'MIT/Harvard' %}mit"{% when 'McMaster University' %}mc"{% endcase %}">
			<a href="{{ project.url | prepend: site.baseurl }}">
				<img src="{{ site.baseurl}}/images/{{ project.img }}"></img>
				<span class="caption">{{ project.title }}</span>
			</a>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

<script>
	$('#RD').hover(function () {
		$(".tile:not(.RD)").addClass("fade");
		this.style.color = "black";
		this.style.background = "#fce234";
	}, function () {
		$(".tile:not(.RD)").removeClass("fade");
		this.style.color = "#999";
		this.style.background = "none";
	});

	$('#bio').hover(function () {
		$(".tile:not(.bio)").addClass("fade");
		this.style.color = "black";
		this.style.background = "#fce234";
	}, function () {
		$(".tile:not(.bio)").removeClass("fade");
		this.style.color = "#999";
		this.style.background = "none";
	});

	$('#MATLAB').hover(function () {
		$(".tile:not(.MATLAB)").addClass("fade");
		this.style.color = "black";
		this.style.background = "#fce234";
	}, function () {
		$(".tile:not(.MATLAB)").removeClass("fade");
		this.style.color = "#999";
		this.style.background = "none";
	});

	$('#C').hover(function () {
		$(".tile:not(.C)").addClass("fade");
		this.style.color = "black";
		this.style.background = "#fce234";
	}, function () {
		$(".tile:not(.C)").removeClass("fade");
		this.style.color = "#999";
		this.style.background = "none";
	});

	$('#python').hover(function () {
		$(".tile:not(.python)").addClass("fade");
		this.style.color = "black";
		this.style.background = "#fce234";
	}, function () {
		$(".tile:not(.python)").removeClass("fade");
		this.style.color = "#999";
		this.style.background = "none";
	});

	$('#LabVIEW').hover(function () {
		$(".tile:not(.LabVIEW)").addClass("fade");
		this.style.color = "black";
		this.style.background = "#fce234";
	}, function () {
		$(".tile:not(.LabVIEW)").removeClass("fade");
		this.style.color = "#999";
		this.style.background = "none";
	});
</script>