<!DOCTYPE html>
	<html>
		{% if page.title contains "travel" %} 
			{% include map-head.html %}
		{% else %}
			{% include head.html %}
		{% endif %}
		<body>
			{% include sidebar.html %}
			<div class="page-content">
			{% unless page.title == "portfolio" %}
			<h2> {{ page.title }} </h2>
			{% endunless %}
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chris.w.2@live.com">email</a></li>
	        		<li><a href="https://github.com/chrisw7">github.com/chrisw7</a></li>
				</ul>
			</footer>
		</body>
	</html>